<a [routerLink]="['/listings']">Back</a>
<br />
<h2 class="page-header">Add Listing</h2>
<form (submit)="onAddSubmit()">
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" [(ngModel)]="title" name="title" required>
  </div>
  <div class="form-group">
    <label>City</label>
    <input class="form-control" type="text" [(ngModel)]="city" name="city" required>
  </div>
  <div class="form-group">
    <label>Owner</label>
    <input class="form-control" type="text" [(ngModel)]="responseowner" name="responseowner" required>
  </div>
  <div class="form-group">
    <label>incident information</label>
    <input class="form-control" type="number" [(ngModel)]="incidentId" name="incidentId" required>
  </div>
  <div class="form-group">
    <label>Type</label>
    <select class="form-control" type="text" [(ngModel)]="type" name="type" required>
      <option value="Major">Major</option>
      <option value="Minor">Minor</option>
      <option value="Critical">Critical</option>
    </select>
  </div>
  <div class="form-group">
    <input id="image" name="image" [(ngModel)]="image" type="file" >
  </div>
  <div class="form-group">
    <label>Price</label>
    <input class="form-control" type="text" [(ngModel)]="price" name="price" required>
  </div>
  <input type="submit" value="submit" class="btn btn-success">
</form>
